.*
!.gitignore
!.gitattributes
*.pyc
*.log
*.Log
*.out
_*

env/

results/*
!results/summary
!results/counts
results/counts/*
!results/counts/variant_counts.csv
!results/escape_scores
results/escape_scores/*
!results/escape_scores/scores.csv
!results/escape_scores/scores_homologs.csv
!results/escape_scores/escape_fracs.csv
!results/escape_scores/escape_fracs_homologs.csv
!results/escape_profiles
results/escape_profiles/*
!results/escape_profiles/significant_escape_sites.csv
!results/supp_data
results/supp_data/*
!results/supp_data/*.csv

data/GISAID/spikeprot*.fasta
